<!DOCTYPE html>

<html lang="en">

<head>
  <title>My App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="box">
    <h1 class="text">
      Welcome
    </h1>
      <a href="http://localhost:3000/auth">
      <div class="google-btn" >
        <div class="google-icon-wrapper">
          <img class="google-icon" src="/images/g-icon.png" />
        </div>
        <p class="btn-text"><b>Sign in with Google</b></p>
      </div>
    </a>
  </div>
</body>
